# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled static libraries
*.a
*.lib

# Compiled dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Build directories
/build/
/bin/
/obj/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
